.contact{
         text-align: center;
}
body {
  margin: 0;
  font-family: Arial;
}

nav {
  display: flex;
  justify-content: space-around;
  background: black;
}

nav a {
  color: white;
  padding: 10px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 50px;
  background: lightgray;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    text-align: center;
  }

  .hero {
    padding: 20px;
  }
}
